//////////////////////////////////////////////////////////////////////////////////////
// Colors
$black: #000;
$white: #fff;

$global-font-color: #000;

$color-attack: #ed6774;
$color-defense: #6696ed;
$color-hp: #0088a6;

$color-move-power: #a60087;
$color-move-energy: #0087a6;
$color-move-duration: #87a600;

$color-faint: #ff0000;
$color-shield: #df46e5;

$color-bug-dark: #9bc231;
$color-bug-light: #aec92c;
$color-dark-dark: #52505e;
$color-dark-light: #6e7681;
$color-dragon-dark: #1065b6;
$color-dragon-light: #067fc4;
$color-electric-dark: #f3d43e;
$color-electric-light: #fedf6b;
$color-fairy-dark: #eb8de1;
$color-fairy-light: #f6a7e8;
$color-fighting-dark: #ce3d64;
$color-fighting-light: #e34448;
$color-fire-dark: #fe9d59;
$color-fire-light: #feb04b;
$color-flying-dark: #91a8de;
$color-flying-light: #a7c1f2;
$color-ghost-dark: #5069ac;
$color-ghost-light: #7571d0;
$color-grass-dark: #5fbb50;
$color-grass-light: #59c079;
$color-ground-dark: #d87b40;
$color-ground-light: #d2976b;
$color-ice-dark: #74d3bd;
$color-ice-light: #94ddd6;
$color-normal-dark: #909aa3;
$color-normal-light: #a3a49e;
$color-poison-light: #a662c7;
$color-poison-dark: #c662d6;
$color-psychic-dark: #f2726f;
$color-psychic-light: #fda194;
$color-rock-dark: #c7b98c;
$color-rock-light: #d7cd90;
$color-steel-dark: #50879c;
$color-steel-light: #5aafb4;
$color-water-dark: #4f91db;
$color-water-light: #6ac7e9;

$color-ranking: #fff6d4;
$color-highlight: #222;

$color-links: #003748;
$color-blue-light: #004c66;
$color-blue-dark: #00171c;

$color-gold: #eabd49;
$color-gold-dark: #b99027;
$color-purple: #7f4da8;
$color-purple-dark: #3b1f52;

$color-off-white: #eee;
$color-off-black: #333;

$color-stat-buff: #f1841c;
$color-stat-debuff: #0158d0;

$font-color: #eee;
$dark-grey: #aaa;
$suva-grey: #888;
$dim-grey: #666;
$dark: #444;
$color-gold: #eabd49;
$link-color: #30b5ab;

$blackcurrant: #030509;
$teal-blue: #29505b;
$mona-list: #ff8b8b;
$moccaccino: #582b2b;
$watusi: #f1b9b9;
$alice-blue: #f3fbfe;

//////////////////////////////////////////////////////////////////////////////////////
// UI
$margin-center: 0 auto;
