/* CSS Document */

$dark: #444;
$font-color: #eee;
$color-gold:#eabd49;
$link-color:#30b5ab;

body{
	background-color:#030509;
	background-image:url('../../img/themes/night/bg.jpg');
	color:$font-color;
}

a{
	color:$link-color;
}

.section.white,
.poke .poke-stats
{
	background:$dark;
}

select, .league-select, .cup-select,
option,
.poke input, .poke select,
input,
.poke-search,
textarea{
    background: #222;
    color: #fff;

	&::-webkit-input-placeholder {
	  color: #aaa;
	}
	&::-moz-placeholder {
	  color: #aaa;
	}
	&:-ms-input-placeholder {
	  color: #aaa;
	}
	&:-moz-placeholder {
	  color: #aaa;
	}
}

.modal .sandbox-move-select .move-select option{
	background: #222 !important;
}

.poke input, .poke select{
	border:1px solid #666;
}

.poke-search{
	border: 1px solid #aaa;
}


header{
	background:#444;

	.menu a,
	.title a{
		color:$color-gold;
	}

	.hamburger .meat{
		background:$color-gold;
	}

	.icon-battle{
		background-image:url('../../img/themes/night/icon_battle.png');
	}

	.icon-train{
		background-image:url('../../img/themes/night/icon_train.png');
	}

	.icon-rankings{
		background-image:url('../../img/themes/night/icon_rankings.png');
	}

	.icon-team{
		background-image:url('../../img/themes/night/icon_team.png');
	}

	.icon-contribute{
		background-image:url('../../img/themes/night/icon_contribute.png');
	}

	.icon-articles{
		background-image:url('../../img/themes/night/icon_articles.png');
	}

	.icon-moves{
		background-image:url('../../img/themes/night/icon_moves.png');
	}

	.icon-settings{
		background-image:url('../../img/themes/night/icon_settings.png');
	}
}

h1{
	color:#fff;
}

.poke{
	.poke-stats{
		.stat-container{
			color:$font-color;
		}

		.stat-container .bar-back .bar{
			background: rgba(255,255,255,0.6);
		}

		a{
			color:$link-color;
		}

		h3.section-title{
			color:$font-color;
		}

		.move-select, .type{
			color:#000;
		}

		.dark, .dragon, .ghost {
			color:#eee;
		}

	}
}

.check span{
	border:2px solid #888;
}

a.toggle{
	color:$link-color;
}

.move-bars .move-bar.active {
    border: 2px solid white;
}

.battle-results .timeline-container{
	background:rgba(50,50,50,0.5);
	border:1px solid #888;

	.timeline{
		border-top: 1px dashed #888;

		.item-container{
			.item.fast{
				border:1px solid #888
			}
		}
	}

	.tracker{
		border-left:1px solid #aaa;
	}
}

.sandbox.clear-btn{
	color:#000;
}

.stats-table tr:nth-child(2n) {
    background: rgba(255,255,255, 0.15);
}

.histograms .histogram .chart {
    border: 1px solid #888;
    background: #222;

	.segment:nth-of-type(10) {
    	border-right: 1px dashed #888;
	}
}

.rank{
	color:#000;
}

.ranking-categories{
	a{
		color:$link-color;

		&.selected{
			background:#30b5ab;
			color:$font-color;
		}
	}
}

.modal{
	.modal-header{
		color:#000;
	}

	.modal-container{
		border:2px solid #888;
	}

	.modal-content{
		background:#444;
	}
}

.section.typings{
	li span{
		color:#000;
	}

	table{
		color: #000;
		background: rgba(255,255,255,0.6);
		border-radius: 12px;
	}
}

.contribute .supporters .supporter{
	background:#222;
}

.battle-window{
	box-shadow:0px 5px 15px #000;

	.scene .background{
		background-image: url('../../img/themes/night/pvp-background.jpg');
	}

	.top .team-indicator{
		color:#000;
	}

	.end-screen-container .damage .damage-section{
		background:#222;

		.avg-line{
			border:1px dotted rgba(255, 255, 255, 0.5)
		}
	}
}

.team-select .self, .team-select .opponent{
	background:#444;
}

.custom-rankings{
	.include .filter{
		background:#29505b;

		.remove{
			color:#ff8b8b;
		}
	}

	.exclude .filter{
		background:#582b2b;

		a.toggle{
			color:#f1b9b9;
		}

		.remove{
			color:#ff8b8b;
		}
	}
}

.custom-rankings-import textarea.import,
.custom-rankings-list .pokemon-list{
	background:#222;
	color:$font-color;
}

.poke-search-container{
	a.search-info{
		color:$link-color;
		border:1px solid $link-color;
	}
}

.battle-results.matrix .table-container tbody th,
.alternatives-table tbody th,
.threats-table tbody th,
.meta-table tbody th{
	background:#000;
	color:#eee;
}

.battle-results.matrix .table-container tr:nth-of-type(2n) th,
.alternatives-table tr:nth-of-type(2n) th,
.threats-table tr:nth-of-type(2n) th,
.meta-table tr:nth-of-type(2n) th{
	background:#444;
	color:#eee;
}

.electric{
	color:#000;
}

.pokebox a.open-pokebox{
	background-color:#222;
	color:#fff;
}

.modal .pokebox-options a.pokebox-edit,
.modal .pokebox-options a.pvpoke-sponsor{
	color:#fff;
	background-color:#222;
}

.matrix-table, .meta-table, .threats-table, .alternatives-table{
	thead td:first-of-type{
		background-image:url('../../img/matrix-arrow-header-dark.png') !important;
	}
}

.poke .form-group .option{
	background: #555;

	&.on{
		background:#222;
		-moz-box-shadow: inset 0 0 10px #000;
	    -webkit-box-shadow: inset 0 0 10px #000;
	    box-shadow: inset 0 0 10px #000;
	}
}

@media only screen and (min-width: 721px){
	.menu .submenu .submenu-wrap{
		background:#444;
	}

}
