/* CSS Document */

$color-blue-dark:#003462;
$dark: #080c10;
$font-color: #f9fdff;
$color-gold:#ffcf01;
$link-color:#64b939;
$green-medium: #2e4920;
$green-faded: #0e282a;

body{
	background-color:#030509;
	background-image:url('../../img/themes/sunflower/sunflower-bg-night.jpg');
	color:$font-color;
}

a{
	color:$link-color;
}

.section.white,
.poke .poke-stats
{
	background:$dark;
}

select, .league-select, .cup-select,
option, .category-select optgroup,
.poke input, .poke select,
input,
.poke-search,
textarea{
    background: #222;
    color: #fff;

	&::-webkit-input-placeholder {
	  color: #aaa;
	}
	&::-moz-placeholder {
	  color: #aaa;
	}
	&:-ms-input-placeholder {
	  color: #aaa;
	}
	&:-moz-placeholder {
	  color: #aaa;
	}
}

.modal .sandbox-move-select .move-select option{
	background: #222 !important;
}

.poke input, .poke select{
	border:1px solid #666;
}

.poke-search{
	border: 1px solid #aaa;
}

.poke input.poke-search{
	background: rgba(24, 28, 40, 0.75);
}


header{
	background:$dark;

	.menu a,
	.title a{
		color:$font-color;
	}

	.hamburger .meat{
		background:$font-color;
	}

	.icon-battle{
		background-image:url('../../img/themes/sunflower/nav-battle-white.png');
	}

	.icon-train{
		background-image:url('../../img/themes/sunflower/nav-train-white.png');
	}

	.icon-rankings{
		background-image:url('../../img/themes/sunflower/nav-rankings-white.png');
	}

	.icon-team{
		background-image:url('../../img/themes/sunflower/nav-team-white.png');
	}

	.icon-contribute{
		background-image:url('../../img/themes/sunflower/nav-heart-white.png');
	}
}

h1{
	color:#fff;
}

.poke{
	.poke-stats{
		.stat-container{
			color:$font-color;
		}

		.stat-container .bar-back .bar{
			background: rgba(255,255,255,0.6);
		}

		a{
			color:$link-color;
		}

		h3.section-title{
			color:$font-color;
		}

		.move-select, .type{
			color:#000;
		}

		.dark, .dragon, .ghost {
			color:#eee;
		}

	}

	.form-select-container a.form-link{
		background: #222;
	}

	input.poke-search{
		border-bottom: 1px solid rgba(255,255,255,0.75);
	}
}

.check span{
	border:2px solid #888;
}

a.toggle{
	color:$link-color;
}

.move-bars .move-bar.active {
    border: 2px solid white;
}

.battle-results .timeline-container{
	background:rgba(50,50,50,0.5);
	border:1px solid #888;

	.timeline{
		border-top: 1px dashed #888;

		.item-container{
			.item.fast{
				border:1px solid #888
			}
		}
	}

	.tracker{
		border-left:1px solid #aaa;
	}
}

.sandbox.clear-btn{
	color:#000;
}

.stats-table tr:nth-child(2n) {
    background: rgba(255,255,255, 0.15);
}

.histograms .histogram .chart {
    border: 1px solid #888;
    background: #222;

	.segment:nth-of-type(10) {
    	border-right: 1px dashed #888;
	}
}

.rank{
	color:#000;
}

.ranking-categories{
	a{
		color:$link-color;

		&.selected{
			background:#2e4920;
			color:$link-color;
		}
	}
}

.modal{
	.modal-header{
		color:#000;
	}

	.modal-container{
		border:2px solid #888;
	}

	.modal-content{
		background:#444;
	}
}

.section.typings{
	li span{
		color:#000;
	}

	table{
		color: #000;
		background: rgba(255,255,255,0.6);
		border-radius: 12px;
	}
}

.contribute .supporters .supporter{
	background:#222;
}

.battle-window{
	box-shadow:0px 5px 15px #000;

	.scene .background{
		background-image: url('../../img/themes/night/pvp-background.jpg');
	}

	.top .team-indicator{
		color:#000;
	}

	.end-screen-container .damage .damage-section{
		background:#222;

		.avg-line{
			border:1px dotted rgba(255, 255, 255, 0.5)
		}
	}
}

.team-select .self, .team-select .opponent{
	background:#444;
}

.custom-rankings{
	.include .filter{
		background:#29505b;

		.remove{
			color:#ff8b8b;
		}
	}

	.exclude .filter{
		background:#582b2b;

		a.toggle{
			color:#f1b9b9;
		}

		.remove{
			color:#ff8b8b;
		}
	}
}

.custom-rankings-import textarea.import,
.custom-rankings-list .pokemon-list{
	background:#222;
	color:$font-color;
}

.poke-search-container{
	a.search-info{
		color:$link-color;
		border:1px solid $link-color;
	}
}

.battle-results.matrix .table-container tbody th,
.alternatives-table tbody th,
.threats-table tbody th,
.meta-table tbody th{
	background:#000;
	color:#eee;
}

.battle-results.matrix .table-container tr:nth-of-type(2n) th,
.alternatives-table tr:nth-of-type(2n) th,
.threats-table tr:nth-of-type(2n) th,
.meta-table tr:nth-of-type(2n) th{
	background:#444;
	color:#eee;
}

.electric{
	color:#000;
}

.pokebox a.open-pokebox{
	background-color:#222;
	color:#fff;
}

.modal .pokebox-options a.pokebox-edit,
.modal .pokebox-options a.pvpoke-sponsor{
	color:#fff;
	background-color:#222;
}

.matrix-table, .meta-table, .threats-table, .alternatives-table{
	thead td:first-of-type{
		background-image:url('../../img/matrix-arrow-header-dark.png') !important;
	}
}

.poke .form-group .option{
	background: #555;

	&.on{
		background:#222;
		-moz-box-shadow: inset 0 0 10px #000;
	    -webkit-box-shadow: inset 0 0 10px #000;
	    box-shadow: inset 0 0 10px #000;
	}
}

@media only screen and (min-width: 721px){
	.menu .submenu .submenu-wrap{
		background:#444;
	}

}
