/* VARIABLES */

$borderRed: #780900;
$borderDarkBlue: #0a0018;
$backgroundBlue: #1d0441;
$fontColor: #fff;

// #ffb3b3
// #ff8686

/* MIXINS */

@mixin transition($property, $duration, $ease, $delay){
    -webkit-transition: $property $duration $ease $delay;
    -moz-transition: $property $duration $ease $delay;
    -o-transition: $property $duration $ease $delay;
    transition: $property $duration $ease $delay;
}

@mixin transform($property){
	-moz-transform: $property;
	-webkit-transform: $property;
	-o-transform: $property;
	-ms-transform: $property;
	transform: $property;
}

@mixin typegradient($light, $dark){
	background: -moz-linear-gradient(0deg, $dark 43%, $light 55%);
	background: -webkit-linear-gradient(0deg, $dark 43%, $light 55%);
	background: linear-gradient(0deg, $dark 43%, $light 55%);
}


@mixin teragradient($light, $dark){
	background: $dark;
	background: -moz-linear-gradient(117deg, $light 33%, $dark 100%);
	background: -webkit-linear-gradient(117deg, $light 33%, $dark 100%);
	background: linear-gradient(117deg, $light 33%, $dark 100%);
}

html, body{
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	color: $fontColor;
	height:100%;
}

body{
	/*background: rgb(207,32,32);
	background: -moz-linear-gradient(167deg, rgba(207,32,32,1) 2%, rgba(171,42,9,1) 14%, rgba(82,8,59,1) 48%, rgba(29,4,65,1) 72%);
	background: -webkit-linear-gradient(167deg, rgba(207,32,32,1) 2%, rgba(171,42,9,1) 14%, rgba(82,8,59,1) 48%, rgba(29,4,65,1) 72%);
	background: linear-gradient(167deg, rgba(207,32,32,1) 2%, rgba(171,42,9,1) 14%, rgba(82,8,59,1) 48%, rgba(29,4,65,1) 72%);*/

	background: rgb(82,8,59);
	background: -moz-linear-gradient(167deg, rgba(82,8,59,1) 14%, rgba(29,4,65,1) 72%);
	background: -webkit-linear-gradient(167deg, rgba(82,8,59,1) 14%, rgba(29,4,65,1) 72%);
	background: linear-gradient(167deg, rgba(82,8,59,1) 14%, rgba(29,4,65,1) 72%);
	background-attachment: fixed;
}

header{
	background: #1e0441;

	.header-wrap{
		max-width:1000px;
		margin:0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.title{
		font-size: 18px;
		margin: 0;
		display: inline-block;
		font-weight: normal;

		a{
			background-image: url(../../img/app_192.png);
			background-size: contain;
			text-decoration: none;
			color: #f6ba48;
			padding: 3px 0 3px 40px;
			background-repeat: no-repeat;
			display: block;
		}
	}
}

#main{
	max-width:1000px;
	margin: auto;
	padding:10px;
    border-radius: 12px;

	& > h1{
		margin:0;
	}

	p{
		font-size: 16px;
		line-height: 22px;
	}
}

input[type="text"]{
	background: none;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.5);
	color: $fontColor;
    outline: none;
    padding-bottom: 5px;
}

::-webkit-input-placeholder {
    color:   rgba(255,255,255,0.5);
}
:-moz-placeholder {
   color: rgba(255,255,255,0.5);
}
::-moz-placeholder {
   color: rgba(255,255,255,0.5);
}
:-ms-input-placeholder {
   color: rgba(255,255,255,0.5);
}
::-ms-input-placeholder {
   color: rgba(255,255,255,0.5);
}
::placeholder {
   color: rgba(255,255,255,0.5);
}

.flex{
	display: flex;
}

.template{
	display: none;
}

.bordered-section{
	background: $backgroundBlue;
	border: 3px solid $borderDarkBlue;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;

	select{
		background: rgba(0,0,0,0.5);
		border: 1px solid rgba(0,0,0,0.75);
	    color: #fff;
	    padding: 10px;
	    box-sizing: border-box;
		border-bottom-left-radius: 10px;
		border-top-right-radius: 10px;

		option{
			background: rgba(29,4,65,1);
		}
	}
}

.section-header{
	margin: 10px 0;
	align-items: center;

	h3{
		font-size: 22px;
		margin: 0 20px 0 0;
	}

	&.boss-header{
		margin-top: 40px;
	}
}

.hr{
	flex-grow: 1;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.poke-search-container{
	input, select{
		display: block;
		width: 225px;
		box-sizing: border-box;
	}

	select{
		margin: 10px 0 10px 0;
		font-size: 20px;
	}
}

.boss-section{
	@include teragradient(#a1417f, #6d1744);
	position: relative;
	overflow: hidden;


	& > .flex{
		position: relative;
		z-index: 10;
		justify-content: space-between;
		margin-bottom: 15px;
	}

	h4{
		margin-top: 0;

		&.attack-title{
			margin-bottom: 10px;
		}
	}

	.pattern{
		width:100%;
		height:100%;
		position:absolute;
		z-index: 0;
		left: 0;
		top: 0;
		background: url('../img/pattern.png');
		background-position: center center;
		opacity: 0.1;
	}

	#tera-select{
		font-size: 20px;
		min-width:100px;

		option{
			background: rgba(29,4,65,1);
		}
	}

	#poke-select{
		margin-bottom: 20px;
	}

	.boss-attack-types{
		display: flex;
		justify-content: flex-start;
		max-width: 650px;
		flex-wrap: wrap;

		#attack-type-select{
			margin: 10px 0 0 0;
			font-size: 14px;
		    padding: 5px;
		    width: 105px;

		}
	}

	&[tera-type="bug"]{ @include teragradient(#9ba141, #5b6c16); }
	&[tera-type="dark"]{ @include teragradient(#a68aa6, #6f536f); }
	&[tera-type="dragon"]{ @include teragradient(#808dff, #4654cd); }
	&[tera-type="electric"]{ @include teragradient(#c59515, #805d01); }
	&[tera-type="fairy"]{ @include teragradient(#d766de, #9f2ea6); }
	&[tera-type="fighting"]{ @include teragradient(#d16f1a, #904503 ); }
	&[tera-type="fire"]{ @include teragradient(#dc5750, #b22720 ); }
	&[tera-type="flying"]{ @include teragradient(#8095cd, #485d95); }
	&[tera-type="ghost"]{ @include teragradient(#b481b0, #7c4978); }
	&[tera-type="grass"]{ @include teragradient(#6ab755, #377b25); }
	&[tera-type="ground"]{ @include teragradient(#bf8967, #87512f); }
	&[tera-type="ice"]{ @include teragradient(#29bee3, #0180a0); }
	&[tera-type="normal"]{ @include teragradient(#959595, #5d5d5d); }
	&[tera-type="poison"]{ @include teragradient(#b379db, #79469c); }
	&[tera-type="psychic"]{ @include teragradient(#d67498, #964060); }
	&[tera-type="rock"]{ @include teragradient(#9c986c, #656135); }
	&[tera-type="steel"]{ @include teragradient(#70a69c, #386e64); }
	&[tera-type="water"]{ @include teragradient(#5794df, #2b578d); }
}

[tera-type="bug"] .tera-icon{ background-image: url('../img/types/bug.png'); }
[tera-type="dark"] .tera-icon{background-image: url('../img/types/dark.png'); }
[tera-type="dragon"] .tera-icon{ background-image: url('../img/types/dragon.png'); }
[tera-type="electric"] .tera-icon{ background-image: url('../img/types/electric.png'); }
[tera-type="fairy"] .tera-icon{ background-image: url('../img/types/fairy.png'); }
[tera-type="fighting"] .tera-icon{ background-image: url('../img/types/fighting.png'); }
[tera-type="fire"] .tera-icon{ background-image: url('../img/types/fire.png'); }
[tera-type="flying"] .tera-icon{ background-image: url('../img/types/flying.png'); }
[tera-type="ghost"] .tera-icon{ background-image: url('../img/types/ghost.png'); }
[tera-type="grass"] .tera-icon{ background-image: url('../img/types/grass.png'); }
[tera-type="ground"] .tera-icon{ background-image: url('../img/types/ground.png'); }
[tera-type="ice"] .tera-icon{ background-image: url('../img/types/ice.png'); }
[tera-type="normal"] .tera-icon{ background-image: url('../img/types/normal.png'); }
[tera-type="poison"] .tera-icon{ background-image: url('../img/types/poison.png'); }
[tera-type="psychic"] .tera-icon{ background-image: url('../img/types/psychic.png'); }
[tera-type="rock"] .tera-icon{ background-image: url('../img/types/rock.png'); }
[tera-type="steel"] .tera-icon{ background-image: url('../img/types/steel.png'); }
[tera-type="water"] .tera-icon{ background-image: url('../img/types/water.png'); }

/* Typing colors and icons */

.bug, [type="bug"]{ @include typegradient(#bec720, #8b9f18) }
.dark, [type="dark"]{ @include typegradient(#715a5b, #4f3f3f) }
.dragon, [type="dragon"]{ @include typegradient(#7387f0, #444dcb) }
.electric, [type="electric"]{ @include typegradient(#ffcb03, #f6bc00) }
.fairy, [type="fairy"]{ @include typegradient(#f89af3, #ed6ce5) }
.fighting, [type="fighting"]{ @include typegradient(#fca606, #fc7c00) }
.fire, [type="fire"]{ @include typegradient(#f94043, #dd2727) }
.flying, [type="flying"]{ @include typegradient(#b3d4f4, #7fb4e9) }
.ghost, [type="ghost"]{ @include typegradient(#9e5a9c, #6d3d69) }
.grass, [type="grass"]{ @include typegradient(#5fca3d, #409f26) }
.ground, [type="ground"]{ @include typegradient(#bd7033, #8f4d24) }
.ice, [type="ice"]{ @include typegradient(#5bebff, #40d3f8) }
.normal, [type="normal"]{ @include typegradient(#c7c7c7, #9d9d9f) }
.poison, [type="poison"]{ @include typegradient(#bd5ce3, #8a3fc1) }
.psychic, [type="psychic"]{ @include typegradient(#fe64b1, #eb4481) }
.rock, [type="rock"]{ @include typegradient(#d0c9b0, #aba77b) }
.steel, [type="steel"]{ @include typegradient(#86c8d4, #5d9cb0) }
.water, [type="water"]{ @include typegradient(#35b5f7, #267ee7) }


.type-item{
	box-sizing: border-box;
	font-size: 14px;
	width: 105px;
	margin: 10px 15px 0 0;
	border: 1px solid rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	overflow: hidden;

	.type-name-container{
		background: rgba(0,0,0,0.1);
		align-items: center;
		flex-grow: 1;

		.type-name{
			padding: 5px 10px 5px 0;
			text-align: center;
			flex-grow: 1;
		}
	}

	.tera-icon{
		width: 18px;
	    height: 18px;
	    margin: 0 2px 0 5px;
	}

	a{
		background:rgba(0,0,0,0.5);
		padding: 5px;
		text-decoration: none;
		color: $fontColor;

		&:hover{
			background:rgba(0,0,0,0.75);
		}
	}
}

.tera-icon{
	width:85px;
	height:85px;
	background-size:contain;
	background-repeat: no-repeat;
	margin-right: 15px;
}


#results{
	text-align: left;
	width: 100%;

	th{
		top:0px;
		position: sticky;
		background: #1d0441;
		border-bottom: 1px solid rgba(255,255,255,0.25)
	}

	th, td{
		padding: 10px;
	}

	tbody tr:nth-of-type(odd){
		background:rgba(255,255,255,0.1);
	}

	.type-item{
		margin-top: 0;
		margin-right: 3px;

		a.close{
			display: none;
		}

	}

	.type-item.tera{
		border-top-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.type-item:not(.tera){
		.type-name-container{
			background: #1d0441;
			margin: 2px;
			border-radius: 10px;
		}
	}
}

.results-section{
	.table-container{
		max-height: 800px;
		overflow-y: auto;
	}
}

footer{
	max-width:1000px;
	text-align: center;
	font-size:12px;
	margin:0 auto;

	p:first-of-type{
		margin-top:0;
	}
}
