/* General */

$color-check:#000;

.article h3.article-header{
	font-size:16px;
	padding: 5px 10px;
}

.article h1{
	font-size:24px;
}

/* Top community day event feature list */


.cd-features{
	display:flex;
	flex-wrap: wrap;

	.feature{
		margin: 0 5px 5px 0;
		padding: 5px;
		flex-basis: 100%;

		h4{
			color:#777;
			font-size:11px;
			text-transform: uppercase;
			padding-bottom:5px;
			margin-bottom:5px;
		}

		.value{
			font-weight: bold;
		}

		.detail{
			font-style: italic;
			font-size: 14px;
		}
	}
}

/* Mega section details and sprites */

.mega-section{
	border-radius: 8px;
	margin:1em 0;
	padding:10px 10px;
	color:#fff;

	.mega-title{
		display: flex;
		font-size:18px;
		font-weight: bold;
		align-items: center;

		.mega-icon{
			width:75px;
			height:75px;
			background:url("../articles/article-assets/cd/mega-icon.png");
			background-size:100%;
			background-repeat: no-repeat;
			margin-right:10px;
		}

		h4{
			flex-basis: 75%;
		}

	}

	.mega-list{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.mega-item{
			margin: 0 15px 5px 0;

			.mega-image{
				width:75px;
				height:75px;
				background-size:100%;
				background-repeat: no-repeat;
				margin:0 auto;
			}
		}
	}
}

[mega="venusaur"] .mega-image{
	background-image:url("../articles/article-assets/cd/megas/venusaur.png");
}

[mega="charizard-y"] .mega-image{
	background-image:url("../articles/article-assets/cd/megas/charizard-y.png");
}

[mega="pidgeot"] .mega-image{
	background-image:url("../articles/article-assets/cd/megas/pidgeot.png");
}

[mega="aerodactyl"] .mega-image{
	background-image:url("../articles/article-assets/cd/megas/aerodactyl.png");
}

[mega="abomasnow"] .mega-image{
	background-image:url("../articles/article-assets/cd/megas/abomasnow.png");
}





/* FAQ styling */

.faq-item{
	border-radius: 8px;

	h3.article-header{
		margin-bottom: 0;
	}

	.faq-answer{
		padding:10px;

		p:first-of-type{
			margin-top:0;
		}

		p:last-of-type{
			margin-bottom:0;
		}
	}
}

/* CD Checklist styling */

.cd-checklist{
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.checklist-item{
	border:4px solid rgba(0,0,0,1);
	border-radius: 8px;
	box-sizing: border-box;
	padding:5px;
	flex-basis: 100%;
	margin-bottom:10px;
	font-size:14px;

	&.template{
		display:none;
	}

	&.caught{
		border:4px solid rgba(0,0,0,0.1);

		& > *, .league{
			opacity:0.5;
		}

		& > .check, .checkmark, .title-section, .title-section h4{
			opacity:1;
		}
	}

	&[priority="1"]{
		background:#ebd19a;

		.iv-bar .divider{
			background:#ebd19a;
		}
	}

	&[priority="2"]{
		background:#add0ed;

		.iv-bar .divider{
			background:#add0ed;
		}
	}

	&[priority="3"]{
		background:#c3a49a;

		.iv-bar .divider{
			background:#c3a49a;
		}
	}

	.title-section{
		display: flex;
		align-items: center;
		justify-content: space-between;

		.check, .check span, .check.on span{
			margin:0 5px 0 0;
			width:20px;
			height:20px;
			border-radius: 4px;
			border:none;
			background:none !important;
		}

		.check{
			border: 2px solid #000;

			&:hover{
				background:rgba(0,0,0,0.1) !important;
			}
		}

		.checkmark{
			font-size: 30px;
			line-height: 10px;
			font-weight: bold;
			color:$color-check;
			display:none;

			-webkit-touch-callout: none; /* iOS Safari */
		      -webkit-user-select: none; /* Safari */
		       -khtml-user-select: none; /* Konqueror HTML */
		         -moz-user-select: none; /* Old versions of Firefox */
		          -ms-user-select: none; /* Internet Explorer/Edge */
		              user-select: none; /* Non-prefixed version, currently
		                                    supported by Chrome, Edge, Opera and Firefox */
		}

		.check.on{
			.checkmark{
				display: block;
			}
		}

		h4{
			cursor:pointer;
			flex-basis: 60%;
		}

		.league{
			width:24px;
			height:24px;
			background-size:100%;
			background-repeat: no-repeat;

			&.great{ background-image:url("../articles/article-assets/cd/league-great.png"); }
			&.ultra{ background-image:url("../articles/article-assets/cd/league-ultra.png"); }
			&.master{ background-image:url("../articles/article-assets/cd/league-master.png"); }
			&.special{ background-image:url("../articles/article-assets/cd/league-special.png"); }
		}
	}

	.iv-section{
		margin: 30px 0 15px 0;

		.iv-label{
			margin-bottom: 5px;
			display: flex;
			border-bottom: 1px solid rgba(0,0,0,0.25);
			padding-bottom: 2px;

			.level{
				min-width:75px;
				margin-right:15px;
			}
		}

		.iv-bar{
			position: relative;
			height:12px;
			margin-bottom: 8px;

			.divider{
				position: absolute;
				height:100%;
				width:2px;

				&:nth-of-type(1){
					left:33%;
				}

				&:nth-of-type(2){
					left:66%;
				}
			}

			.bar{
				background:#000;
				width:100%;
				height:100%;
				border-radius: 8px;
			}
		}
	}

	.base-form-section{
		display: flex;
		align-items: center;

		img{
			border:none;
			margin-right: 5px;
		}
	}

	.priority-section{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding:5px;
		border-radius: 8px;
		background:rgba(255,255,255,0.35);
		margin-top:5px;

		h4{
			text-transform: uppercase;
			font-size:12px;
		}

		a.info{
			display: block;
			text-decoration: none;
			background:#000;
			color:#fff;
			border-radius:20px;
			border: 1px solid #000;
			width:16px;
			height:16px;
			text-align: center;
			font-size:14px;
			font-weight: bold;
		}
	}
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



/* Specific Pokemon styling */

.section.hoppip{

	background: rgb(175,232,213);
	background: -moz-linear-gradient(0deg, rgba(175,232,213,1) 20%, rgba(221,245,237,1) 55%);
	background: -webkit-linear-gradient(0deg, rgba(175,232,213,1) 20%, rgba(221,245,237,1) 55%);
	background: linear-gradient(0deg, rgba(175,232,213,1) 20%, rgba(221,245,237,1) 55%);

	border:4px solid #91ccc3;

	.article-header, .mega-section{
		background:#834569 !important;
	}

	.feature{
		h4{
			color:#834569;
			border-bottom:1px solid #834569;
		}
	}

	.faq-item{
    	background: #e4fff6;
	}
}

/* Responsive styling */

@media only screen and (min-width: 361px) {
	.checklist-item{
		flex-basis:48.5%
	}
}

@media only screen and (min-width: 421px) {
	.cd-features .feature {
			flex-basis: auto;
	}

	.article h3.article-header{
		padding:10px;
		font-size:18px;
	}

	.checklist-item{
		padding:10px;
		font-size:16px;

		.title-section .league{
			width:38px;
			height:37px;
		}
	}
}

@media only screen and (min-width: 728px) {
	.article h1{
		font-size:32px;
	}

	.checklist-item{
		flex-basis:31.5%
	}
}
