RewriteEngine On

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule battle/(\d+)/([a-zA-Z_]+)/([a-zA-Z_]+)/(\d+)/(\d+)/(\d+).*$ battle.php?cp=$1&p1=$2&p2=$3&s=$4&m1=$5&m2=$6 [L,QSA]
RewriteRule battle/(\d+)/([a-zA-Z_]+)/([a-zA-Z_]+)/(\d+).*$ battle.php?cp=$1&p1=$2&p2=$3&s=$4 [L,QSA]
RewriteRule battle.?$ battle.php [L,QSA]

RewriteRule rankings/([a-zA-Z]+)/(\d+)/([a-zA-Z]+)/([a-zA-Z_]+).*$ rankings.php?cup=$1&cp=$2&cat=$3&p=$4 [L,QSA]
RewriteRule rankings/(\d+)/([a-zA-Z]+)/([a-zA-Z_]+).*$ rankings.php?cp=$1&cat=$2&p=$3 [L,QSA]
RewriteRule rankings/([a-zA-Z]+)/(\d+)/([a-zA-Z]+).*$ rankings.php?cup=$1&cp=$2&cat=$3 [L,QSA]
RewriteRule rankings/(\d+)/([a-zA-Z]+).*$ rankings.php?cp=$1&cat=$2 [L,QSA]
RewriteRule rankings/(\d+).*$ rankings.php?cp=$1 [L,QSA]
RewriteRule rankings.?$ rankings.php [L,QSA]

RewriteRule team-builder/([a-zA-Z_]+)/(\d+)/([a-zA-Z_]+)/([a-zA-Z_]+)/([a-zA-Z_]+)/(\d+)/(\d+)/(\d+).*$ team-builder.php?cup=$1&cp=$2&p1=$3&p2=$4&p3=$5&m1=$6&m2=$7&m3=$8 [L,QSA]
RewriteRule team-builder/([a-zA-Z_]+)/(\d+)/([a-zA-Z_]+)/([a-zA-Z_]+)/(\d+)/(\d+).*$ team-builder.php?cup=$1&cp=$2&p1=$3&p2=$4&m1=$5&m2=$6 [L,QSA]
RewriteRule team-builder/([a-zA-Z_]+)/(\d+)/([a-zA-Z_]+)/(\d+).*$ team-builder.php?cup=$1&cp=$2&p1=$3&m1=$4 [L,QSA]
RewriteRule team-builder.?$ team-builder.php [L,QSA]

RewriteRule contribute.?$ contribute.php [L,QSA]

RewriteRule privacy.?$ privacy.php [L,QSA]

# Redirect index.php to /

RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /(.*)index\.php($|\ |\?)
RewriteRule ^ /%1 [R=301,L]